@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);







#index-ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#index-ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#index-ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#index-ext_menu-0 .close-icon::before,
#index-ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#index-ext_menu-0 .link,
#index-ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#index-ext_menu-0 .link {
  font-size: 1rem;
}
#index-ext_menu-0 .dropdown-item,
#index-ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#index-ext_menu-0 .link:hover,
#index-ext_menu-0 .dropdown-item:hover,
#index-ext_menu-0 .link:focus,
#index-ext_menu-0 .dropdown-item:focus {
  color: #ffffff;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-menu {
  background: #171c2c;
}
#index-ext_menu-0 .nav-dropdown-sm .link:focus,
#index-ext_menu-0 .nav-dropdown-sm .link:hover,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#index-ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#index-ext_menu-0 .navbar,
#index-ext_menu-0 .nav-dropdown-sm,
#index-ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#index-ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#index-ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#index-ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#index-ext_menu-0 .bg-color.transparent.opened .link:hover,
#index-ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#index-ext_menu-0 .link[aria-expanded="true"],
#index-ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#index-pricing-table2-0 .mbr-plan-header,
#index-pricing-table2-0 .mbr-plan-body {
  background-color: #f4f4f4;
}
#index-pricing-table2-0 ul,
#index-pricing-table2-0 .mbr-plan-title,
#index-pricing-table2-0 .mbr-price-value,
#index-pricing-table2-0 .mbr-price-figure,
#index-pricing-table2-0 .mbr-price-term {
  color: #28262b;
}
#index-pricing-table2-0 .mbr-plan {
  border-color: #e8e8e8;
}
#index-pricing-table2-0 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#index-pricing-table2-0 .mbr-section__container .mbr-section-title {
  color: #28324e;
  text-align: center;
}
#index-pricing-table2-0 .mbr-plan-title {
  font-size: 18px;
  color: #28324e;
}
#index-pricing-table2-0 .mbr-price-term {
  color: #28324e;
}
#index-pricing-table2-0 .mbr-price-figure {
  color: #28324e;
}
#index-pricing-table2-0 .mbr-plan-price-desc {
  color: #475577;
  font-size: 18px;
}
#marcioreis-contacts4-0 STRONG {
  color: #7e9b9f;
}
#marcioreis-contacts4-0 P {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
#marcioreis-contacts4-0 UL {
  font-family: 'Montserrat', sans-serif;
}
#marcioreis-contacts4-0 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
